.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 50px;
  .form-container{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
